.footer{
    background-color: #842c6a;
    color: white;
    padding: 40px 80px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.social-media{
    flex: 1;
    vertical-align: middle;
}

.social-media p {
    margin-top: 5px;
    font-size: 16px;
    color: #c983b4;

}

.social-icons{
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px; 
    text-decoration: none;
}


.footer-links{
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: left;
}

.footer-col h4{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #c983b4;
}

.footer-col ul{
    list-style-type: none;
    padding: 0;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-col ul li a:hover{
    text-decoration: underline;
}

.footer-bottom{
    text-align: left;
    font-size: 16px;
    margin-top: 40px;
    color: #c983b4;

}
